<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="template/layout/layout-main.html">

<body>
	<div class="mainpanel" layout:fragment="content">
		<div class="pageheader">
			<div class="media">
				<div class="pageicon pull-left" style="padding-top: 5px;"><i class="fa fa-ticket"></i></div>
				<ul class="breadcrumb">
					<li><a th:href="@{/Main}"><i class="glyphicon glyphicon-home"></i></a></li>
				</ul>
				<h4 lang="lang_Vi" class="text-uppercase" >Cấu hình mapping bảng kê </h4>
			</div><!-- media -->
		</div><!-- pageheader -->
		
		<div class="contentpanel">
			<div class="container">
				<form id="fColumnMapping" name="fColumnMapping" method="post" enctype="multipart/form-data" >
					<div class="row">
						<div class="col-xs-12 margin-top-only margin-bottom-only center-block">
							<div class="row">
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Cột Excel</label>
									<div class="col-md-8">
										<select name="tblex" id="tblex" class="form-control" >
										 		<option value=""></option>
										 		<th:block th:if="${TBLEX != null}">
				                         			<option th:each="entry : ${TBLEX.entrySet()}"
				                         					th:value="${entry.key}" th:utext="${entry.value}"
				                         					th:selected="${tblex == entry.key}"> </option>
	                         					</th:block>
										</select>
									</div>
								</div>
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Cột CSDL</label>
									<div class="col-md-8">
										<select name="tblstand" id="tblstand" class="form-control" >
										 		<option value=""></option>
										 		<th:block th:if="${TBLSTAND != null}">
				                         			<option th:each="entry : ${TBLSTAND.entrySet()}"
				                         					th:value="${entry.key}" th:utext="${entry.value}"
				                         					th:selected="${tblstand == entry.key}"> </option>
	                         					</th:block>
										</select>
									</div>
								</div>
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Mô tả</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="tblstandDesc"
											name="tblstandDesc" maxlength="200">
									</div>
								</div>
								<div class="form-group col-md-2">
				    				<div style="margin: 0px 10px">
				    					<button type="button" id="btSearch" class="btn btn-primary btn-xs " ><i class="fa fa-search" ></i> Tìm kiếm</button>
				    				</div>
								</div>
							</div>
							
							<hr style="margin: 0 0 10px 0;">
							<div class="row">
								<div class="form-group col-md-12" th:if="false">
				    				<div class="pull-right" >
				    					<button type="button" id="btAdd" class="btn btn-sm btn-primary ">Thêm mới</button>
				    					<button type="button" id="btAdd" class="btn btn-sm btn-primary ">Thay đổi</button>
				    				</div>
				    				
								</div>
								<div class="col-md-12 form-group btnFunction">
									<button type="button" data-action="edit" class="btn btn-inline btn-sm btn-primary"  id="btnEdit"><em class="fa fa-plus-circle"> </em> Thêm / <em class="fa fa-pencil-square-o"> </em> Thay đổi</button>
								</div>
								<div class="clearfix"></div>
								<hr style="margin: 0 0 10px 0;">
								<div class="">
									<div id="grid" ></div>
								</div>
							</div>
						</div>
					</div>
				</form> 
				<script type="text/javascript">
					var _gridMain = $('#fColumnMapping').find('#grid');
				</script>
				<script th:src="@{/static/function/dm/columnMapping.js(v=${deployVesionJS}) }"></script>
			</div>
		</div><!-- contentpanel -->
	</div>
</body>
	
</html>