<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="template/layout/layout-main.html">

<body>
	<div class="mainpanel" layout:fragment="content">
		<div class="pageheader">
			<div class="media">
				<div class="pageicon pull-left" style="padding-top: 5px;"><i class="fa fa-ticket"></i></div>
				<ul class="breadcrumb">
					<li><a th:href="@{/Main}"><i class="glyphicon glyphicon-home"></i></a></li>
				</ul>
				<h4 lang="lang_Vi" class="text-uppercase" >Danh mục tỷ giá </h4>
			</div><!-- media -->
		</div><!-- pageheader -->
		
		<div class="contentpanel">
			<div class="container">
				<form id="fExchangeRate" name="fExchangeRate" method="post" enctype="multipart/form-data" >
					<div class="row">
						<div class="col-xs-12 margin-top-only margin-bottom-only center-block">
							<div class="row">
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Loại tiền</label>
									<div class="col-md-8">
										<select name="code" id="code" class="form-control" >
										 		<option value=""></option>
										 		<th:block th:if="${CURRENCY != null}">
				                         			<option th:each="entry : ${CURRENCY.entrySet()}"
				                         					th:value="${entry.key}" th:utext="${entry.value}"
				                         					th:selected="${code == entry.key}"> </option>
	                         					</th:block>
										</select>
									</div>
								</div>
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Ngày tỷ giá</label>
									<div class="col-md-8">
										<div class="input-group date">
										    <input type="text" id="activeDate" name="activeDate" class="form-control form-control-sm" th:value="${activeDate}" >
										    <div class="input-group-append input-group-addon icon-date">
										      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
										    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Tỷ giá mua CK</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="rate" name="rate"
											maxlength="20" style="text-align:right;">
									</div>
								</div>
								<div class="form-group col-md-5">
									<label class="col-md-4 col-form-label control-label">Tỷ giá bán CK</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="sellRate"
											name="sellRate" maxlength="20" style="text-align:right;">
									</div>
								</div>
								<div class="form-group col-md-2">
				    				<div style="margin: 0px 10px">
				    					<button type="button" id="btSearch" class="btn btn-primary btn-xs " ><i class="fa fa-search" ></i> Tìm kiếm</button>
				    				</div>
								</div>
							</div>
							<hr style="margin: 0 0 10px 0;">
							<div class="row">
								<div class="form-group col-md-12" th:if="false">
				    				<div class="pull-right" >
				    					<button type="button" id="btAdd" class="btn btn-sm btn-primary ">Thêm mới</button>
				    					<button type="button" id="btAdd" class="btn btn-sm btn-primary ">Thay đổi</button>
				    				</div>
				    				
								</div>
								<div class="col-md-12 form-group btnFunction">
<!-- 									<button type="button" data-action="create" class="btn btn-inline btn-sm btn-success"  id="btnCreate"><em class="fa fa-plus-circle"> </em> Thêm mới</button> -->
<!-- 									<button type="button" data-action="edit" class="btn btn-inline btn-sm btn-primary"  id="btnEdit"><em class="fa fa-pencil-square-o"> </em> Thay đổi</button> -->
								</div>
								<div class="clearfix"></div>
								<hr style="margin: 0 0 10px 0;">
								<div class="">
									<div id="grid" ></div>
								</div>
							</div>
						</div>
					</div>
				</form> 
				<script type="text/javascript">
					var _gridMain = $('#fExchangeRate').find('#grid');
				</script>
				<script th:src="@{/static/function/dm/exchangeRate.js(v=${deployVesionJS}) }"></script>
			</div>
		</div><!-- contentpanel -->
	</div>
</body>
	
</html>